* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

.swiper-button-next, .swiper-button-prev {
    color: #ffff;
    background-color: #000000;
    opacity: .7;
    padding: 30px;
}

.swiper-pagination-bullet {
    background-color: #ffff;
}
